---
import { units } from "../../data/units.json";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
  return units.map((unit) => {
    return {
      params: {
        id: unit.path,
      },
      props: {
        title: unit.title,
        icon: unit.icon,
      },
    };
  });
}

const { title, icon } = Astro.props;
---

<Layout title={`${title} | MultiCambio}`}>
  <main>
    <img src={icon} alt={`${title}'s logo'`} />
    <h1>{title}</h1>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  img {
    width: 16em;
    padding: 1em;
  }
</style>
