---
import { Icon } from "astro-icon";
---

<a href="/">
  <div class="flex gap-2 items-center py-4">
    <Icon class="w-6" pack="akar-icons" name="arrow-left" />
    <p>Volver atrás</p>
  </div>
</a>
