---
---

<footer class="w-screen mt-6 flex justify-center bg-blue-50">
  <p class="w-4/5 text-center text-sm lg:text-lg py-4">
    <b>MultiCambio</b> es una propuesta institucional del
    <a
      class="text-blue-700 underline"
      href="https://isc-mlgo.edu.ar"
      target="_blank">Instituto San Carlos.</a
    >
  </p>
</footer>
