<footer>
  <p>
    <b>MultiCambio</b> es una propuesta institucional del <a
      href="https://isc-mlgo.edu.ar"
      target="_blank">Instituto San Carlos</a
    >.
  </p>
</footer>

<style>
  footer {
    text-align: center;
    padding: 0.5em;
    background-color: #0001;
  }

  p {
    margin: 0.5em;
  }
</style>
