---
import { Image } from "@astrojs/image/components";
import { parseIconURL } from "../lib/utils";

type Props = {
  url: string;
  title: string;
  icon: string;
};

const { url, title, icon } = Astro.props;
---

<li class="transition duration-150 w-max p-2 rounded-lg hover:cursor-pointer">
  <a href={url}>
    <Image
      src={parseIconURL(icon)}
      alt={`${title}'s icon.'`}
      width={150}
      aspectRatio="1:1"
    />
  </a>
</li>
