---
import type { MarkdownLayoutProps } from "astro";
import type Frontmatter from "../types/frontmatter";
import { Image } from "@astrojs/image/components";
import BaseLayout from "./BaseLayout.astro";

type Props = MarkdownLayoutProps<Frontmatter>;

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.name}>
  <main>
    <Image
      src={frontmatter.icon}
      alt={`${frontmatter.name}'s icon.`}
      height="200px"
      aspectRatio="3:4"
    />
    <slot />
  </main>
</BaseLayout>
