---
import type Frontmatter from "../types/frontmatter";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;

const properties = frontmatter as Frontmatter;
---

<Layout title={properties.title}>
  <main>
    <img
      class="unit-logo"
      src={`/images/${properties.icon}`}
      alt={`${properties.title}'s logo.'`}
    />
    <h1>{properties.title.toLocaleUpperCase()}</h1>
    <slot />
  </main>
</Layout>

<style>
  main {
    margin-block-start: 1em;
  }
  .unit-logo {
    width: 12em;
  }
</style>
